<div class="row">
    <h1>Add User Form</h1>
    <div class="col-md-6">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" formControlName="id" [ngClass]="{'is-invalid':submitted 
                && form['id'].errors}" [(ngModel)]="user.id">

            </div> -->
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name"
                    [ngClass]="{'is-invalid':submitted && form['name'].errors}"
                    [(ngModel)]="user.name">

                <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                    Name cannot be empty
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email"
                    [ngClass]="{'is-invalid':submitted && form['email'].errors}" 
                    [(ngModel)]="user.email">

                <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                    <div *ngIf="form['email'].errors['required']">
                        Price cannot be Empty
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" formControlName="country" [ngClass]="{'is-invalid':submitted 
                && form['country'].errors}" [(ngModel)]="user.country">

                <div *ngIf="submitted && form['country'].errors" class="invalid-feedback">
                    Country cannot be empty
                </div>
            </div>
            <br>
            <button class="btn btn-primary">
                Update</button>
        </form>
    </div>
</div>