<div class="container">
  <h1 highlight>Welcome to Simplilearn</h1>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="list" class="nav-link">UserList</a>
    </li>
    <li class="nav-item">
      <a routerLink="adduser" class="nav-link">Registration</a>
    </li>
    <li class="nav-item">
      <a routerLink="customerlist" class="nav-link">CustomerList</a>
    </li>
    <li class="nav-item">
      <a routerLink="addcustomer" class="nav-link">AddCustomer</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>