<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.name}}</td>
            <td>{{u.username}}</td>
            <td><a routerLink="/userdetails/{{u.id}}"><button class="btn btn-primary">View</button></a></td>
            <!-- <td>{{u.address.street}}, {{u.address.suite}}, 
                {{u.address.city}},{{u.address.zipcode}}</td>
            <td>{{u.address.geo.lat}}, {{u.address.geo.lng}}</td> -->
        </tr>
    </tbody>
</table>